#load {
    width: 50%;
    height: 50%;
    margin: auto;
    position:absolute;
    z-index: 9999;
    background: url("/assets/loading_icon.gif") no-repeat center center rgba(255,255,255,1)
}

#years-form select {
    margin-right: 15px;
}

.area-checkbox {
    margin-left: 6px;
}

.area-dropdown {
    color: #000;
    grid-column: 0 0;
}

.area-dropdown:hover {
    text-decoration: none;
    color: #000;
}

.venue-list {
    margin-left: 20px;
}